.app {
  position: relative;
  background-image: url("./assets/images/bg.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.record-area {
  position: absolute;
  right: 100px;
  bottom: 100px;
}
